{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load custom_filters %}
{% load static %}

{% block title %}Mon compte{% endblock %}

{% block content %}
	<section id="hero">
		<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		     viewBox="0 24 150 28 " preserveAspectRatio="none">
			<defs>
				<path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
			</defs>
			<g class="wave1">
				<use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
			</g>
			<g class="wave2">
				<use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
			</g>
			<g class="wave3">
				<use xlink:href="#wave-path" x="50" y="9" fill="#fff">
			</g>
		</svg>
	</section><!-- End H -->

	<!-- Start: Contact coordonnées-->
	<div class="container min-vh-100">
		<section id="account" class="account bg-light">
			<div class="section-title mt-5" data-aos="fade-down">
				<h2>Compte</h2>
				<p>Mon Espace Client</p>
			</div>
			<!-- Profile user -->
			<div class="row">
				<!-- colonne 1 -->
				<div class="col-lg-3 col-md-3 col-12 text-center p-2" data-aos="fade-right">
					{% if customer.image %}
						<div class="p-2">
							<img src="{{ customer.image.url }}" alt="user"
							     class="rounded-circle bg-white p-2"
							     height="150px">
						</div>
					{% else %}
						<div class="p-2">
							<img src=" {% static "icons/utilisateur-100.png" %}" alt="user"
							     class="rounded-circle bg-white p-2"
							     height="150px">
						</div>
					{% endif %}
					{% if customer.first_name %}
						<h5>Bonjour {{ customer.first_name }}</h5>
					{% else %}
						<h5>Bonjour {{ user.username }}
							{% if customer.last_name %}
								{{ customer.last_name }} {{ endif }}
							{% endif %}
						</h5>
					{% endif %}
					{% if customer and customer.id %}
						<a href="{% url 'customer:edit_profil_customer' customer.id %}">Modifier</a>
					{% else %}
						<a href="{% url 'customer:add_profil_customer' %}" class="text-danger">
							Compléter mon profil
						</a>
					{% endif %}
				</div>
				<!-- colonne 2 -->
				<div class="col-lg-9 md-10 col-12" data-aos="fade-left">
					<nav>
						<ul class="nav nav-tabs" role="tablist">
							<!-- Mes informations personnelles -->
							<li class="nav-item" role="presentation">
								<a class="nav-link color-tab-pane active"
								   data-bs-toggle="pill"
								   data-bs-target="#tab1"
								   role="tab">
									<i class="bi bi-person-exclamation"
									   data-bs-toggle="tooltip"
									   data-bs-placement="bottom"
									   data-bs-custom-class="custom-tooltip"
									   data-bs-title="Mes informations personnelles">
										Mes informations personnelles
									</i>
								</a>
							</li>
							<!-- Mes Projets -->
							<li class="nav-item" role="presentation">
								<a class="nav-link color-tab-pane" data-bs-toggle="pill" data-bs-target="#tab2"
								   role="tab">
									<i class="bi bi-bag-heart"></i>
									<span class="hidden"
									      data-bs-toggle="tooltip"
									      data-bs-placement="bottom"
									      data-bs-custom-class="custom-tooltip"
									      data-bs-title="Consulter ses projets">
                                        Mes projets
                                    </span>
									{% if unpaid_exists %}
										<span class="badge bg-danger ms-1">!</span>
									{% endif %}
								</a>
							</li>
							<!-- Mes documents -->
							<li class="nav-item" role="presentation">
								<a class="nav-link color-tab-pane" data-bs-toggle="pill" data-bs-target="#tab3"
								   role="tab">
									<i class="bi bi-file-earmark-person-fill"></i>
									<span class="hidden" data-bs-toggle="tooltip"
									      data-bs-placement="bottom"
									      data-bs-custom-class="custom-tooltip"
									      data-bs-title="Affichage de la liste des documents">
										Mes documents
									</span>
								</a>
							</li>
							<!-- Mes tickets -->
							<li class="nav-item" role="presentation">
								<a class="nav-link color-tab-pane" data-bs-toggle="pill" data-bs-target="#tab4"
								   role="tab">
									<i class="bi bi-ticket"
									   data-bs-toggle="tooltip"
									   data-bs-placement="bottom"
									   data-bs-custom-class="custom-tooltip"
									   data-bs-title="Liste des tickets déposés (problème, évolution, etc..)">
										Mes tickets
									</i>
								</a>
							</li>
							<!-- Mes tickets -->
							<li class="nav-item" role="presentation">
								<a class="nav-link color-tab-pane" data-bs-toggle="pill" data-bs-target="#tab5"
								   role="tab">
									<i class="bi bi-ticket-detailed"
									   data-bs-toggle="tooltip"
									   data-bs-placement="bottom"
									   data-bs-custom-class="custom-tooltip"
									   data-bs-title="Déposer un ticket (problème, évolution, etc..)">
										Nouveau ticket
									</i>
								</a>
							</li>
						</ul>
					</nav>
					<div class="tab-content">
						<!-- Mes informations personnelles -->
						<div class="tab-pane fade show active" id="tab1" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<div class="p-4">
										{% if customer.first_name and customer.last_name %}
											<h5>
												<i class="bi bi-person"></i> {{ customer.first_name }} {{ customer.last_name }}
											</h5>
										{% else %}
											<p><i class="bi bi-person"></i> Nom et prénom : <span class="text-red"> A renseigner</span>
											</p>
										{% endif %}

										{% if customer.address %}
											<p>
												<i class="bi bi-house"></i> {{ customer.address }}
											</p>
										{% else %}
											<p>
												<span class="text-red">
													<i class="bi bi-geo"> Adresse à renseigner</i>
												</span>
											</p>
										{% endif %}

										{% if customer.mail %}
											<p>
												<i class="bi bi-envelope-at-fill"></i> {{ customer.mail }}
											</p>
										{% else %}
											<p><i class="bi bi-envelope-at-fill"></i> {{ user.email }}
											<a href="{% url 'account_email' %}">
												<small>(Modifier)</small>
											</a>
										{% endif %}

										{% if customer.phone %}
											<p><i class="bi bi-telephone"></i> {{ customer.phone }}</p>
										{% else %}
											<p><i class="bi bi-telephone"></i> Téléphone : <span class="text-red"> A renseigner</span>
											</p>
										{% endif %}

									</div>
								</div>
							</div>
						</div>
						<!-- Mes projets -->
						<div class="tab-pane fade" id="tab2" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<div>
										<div class="row block-fields d-flex justify-content-between align-items-center mt-3">
											<div style="overflow-x: auto;">
												<table class="table table-bordered table-responsive rounded border overflow-hidden">
													<thead class="thead-light">
													<tr>
														<th scope="col" class="align-middle dark-blue">Référence</th>
														<th scope="col" class="align-middle dark-blue">Statut</th>
														<th scope="col" class="align-middle dark-blue">Nom du Projet</th>
														<th scope="col" class="align-middle dark-blue">Domaine</th>
														<th scope="col" class="align-middle dark-blue">Serveur</th>
														<th scope="col" class="align-middle dark-blue">
															Type de projet
														</th>
														<th scope="col" class="align-middle dark-blue">
															Maintenance
														</th>
														<th scope="col" class="align-middle dark-blue">Action</th>
													</tr>
													</thead>
													<tbody>
													{% for project in projects %}
														<tr class="align-items-center">
															<td class="alin-middle text-center">
																{{ project.ref }}
															</td>
															<td class="alin-middle text-center">
																{{ project.status }}
															</td>
															<td class="alin-middle text-center">
																{{ project.project_name }}
															</td>
															<td class="alin-middle text-center">
																{{ project.domaine }}
															</td>
															<td class="alin-middle text-center">
																{{ project.server }}
															</td>
															<td class="alin-middle text-center">
																{{ project.project_type }}
															</td>
															<td class="alin-middle text-center">
																{{ project.maintenance_contract }}
															</td>
															<td class="alin-middle text-center">
																{% if project.id %}
																	<a href="{% url 'details_my_project' project.id %}"
																	   class="btn btn-primary btn-sm">
																		<i class="bi bi-eye"> Détail</i>
																	</a>
																{% endif %}
															</td>
														</tr>
													{% empty %}
														<tr>
															<td colspan="10" class="text-center text-muted py-4">
																<div>Aucun document enregistré</div>
															</td>
														</tr>
													{% endfor %}
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Mes documents -->
						<div class="tab-pane fade" id="tab3" role="tabpanel">
							<div class="row">
								<div class="col-lg-12">
									<h4 class="py-2 mt-3">Vos documents à télécharger</h4>
									<hr>
									<div class="mt-2">
										{% for doc_name, doc_label in DOCS_CHOICES.items %}
											{% with documents_dict|get_dict_value:doc_name as document %}
												{% if document %}
													<p>{{ forloop.counter }}/ {{ doc_label }} 👉
														<span class="bg-white text-blue p-1 rounded text-end">
											<a href="{{ document.document.url }}" class="text-decoration-none">
												<i class="bi bi-file-earmark-pdf-fill after-icons fs-5"></i>
												{{ document.document_description }} | {{ document.document_name }}
											</a>
											</span>
													</p>
												{% else %}
													<p>{{ forloop.counter }}/ {{ doc_label }} 👉 Aucun fichier</p>
												{% endif %}
											{% endwith %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- Mes tickets -->
						<div class="tab-pane fade" id="tab4" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<div>
										<div class="row block-fields d-flex justify-content-between align-items-center mt-3">

											<div style="overflow-x: auto;">
												<table class="table table-bordered table-responsive rounded border overflow-hidden">
													<thead class="thead-light">
													<tr>
														<th class="dark-blue align-middle text-center">Projet</th>
														<th class="dark-blue align-middle text-center">Titre</th>
														<th class="dark-blue align-middle text-center">Type</th>
														<th class="dark-blue align-middle text-center">Status</th>
														<th class="dark-blue align-middle text-center">Priorité</th>
														<th class="dark-blue align-middle text-center">Créer le</th>
														<th class="dark-blue align-middle text-center">Modifier le</th>
														<th class="dark-blue align-middle text-center">Action</th>
													</tr>
													</thead>

													<tbody>
													{% for ticket in tickets %}
														<tr>
															<td class="align-middle">
																{% if ticket.project.project_name %}
																	{{ ticket.project.project_name }}
																{% else %}
																	Aucune
																{% endif %}
															</td>
															<td class="align-middle">{{ ticket.title }}</td>
															<td class="align-middle text-center">
																{{ ticket.ticket_type }}
															</td>
															<td class="align-middle text-center">
																{{ ticket.status }}
															</td>
															<td class="align-middle text-center">
																{{ ticket.priority }}
															</td>
															<td class="align-middle text-center">
																{{ ticket.created_at }}</td>
															<td class="align-middle text-center">{{ ticket.updated_at }}
															</td>
															<td>
																{% if ticket.id %}
																	<a href="{% url 'customer:tickets_details' ticket.id %}"
																	   class="btn btn-primary btn-sm">
																		<i class="bi bi-eye"></i> Voir
																	</a>
																{% endif %}
															</td>
														</tr>
													{% empty %}
														<tr>
															<td colspan="8" class="text-center text-danger">
																<i class="bi bi-ticket-detailed">
																	Aucun ticket enregistré
																</i>
															</td>
														</tr>
													{% endfor %}
													</tbody>

												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Déposer un ticket -->
						<div class="tab-pane fade" id="tab5" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<div>
										<div class="row block-fields d-flex justify-content-between align-items-center mt-3 p-3">
											<div class="col-lg-10 col-md-10 col-sm-12 dark-blue rounded p-3">
												<form action="{% url 'account' %}" method="post" id="color-input"
												      enctype="multipart/form-data">
													{% csrf_token %}
													{{ form|crispy }}
													<div class="text-end">
														<button type="submit" class="btn btn-general">Valider</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="py-5 p-4 text-start">
					{% for message in messages %}
						{% if message.tags == 'error' %}
							<div class="toast align-items-center text-white bg-danger border-0 show"
							     role="alert">
								<div class="d-flex">
									<div class="toast-body">
										{{ message }}
									</div>
									<button type="button" class="btn-close btn-close-white me-2 m-auto"
									        data-bs-dismiss="toast">
									</button>
								</div>
							</div>
						{% endif %}
					{% endfor %}
					<p class="text-muted text-center">
						(Vous pouvez consulter vos informations en navigant avec les onglets ci-dessus.)
					</p>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
