{% extends 'base-pages.html' %}
{% load static %}

{% block title %}Mon compte{% endblock %}

{% block content %}
	<section id="hero">
		<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		     viewBox="0 24 150 28 " preserveAspectRatio="none">
			<defs>
				<path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
			</defs>
			<g class="wave1">
				<use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
			</g>
			<g class="wave2">
				<use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
			</g>
			<g class="wave3">
				<use xlink:href="#wave-path" x="50" y="9" fill="#fff">
			</g>
		</svg>
	</section><!-- End H -->

	<!-- Start: Contact coordonnées-->
	<div class="container min-vh-100">
		<section id="account" class="account bg-light">
			<div class="text-center py-5">
				<h1 class="title-color">Mon espace client</h1>
				<div class="divider"></div>
			</div>
			<!-- Profile user -->
			<div class="row">
				<!-- colonne 1 -->
				<div class="col-lg-3 col-md-3 col-12 text-center p-2">
					{% if customer.image %}
						<div class="p-2">
							<img src="{{ customer.image.url }}" alt="user"
							     class="rounded-circle bg-white p-2"
							     height="150px">
						</div>
					{% else %}
						<div class="p-2">
							<img src=" {% static "icons/utilisateur-100.png" %}" alt="user"
							     class="rounded-circle bg-white p-2"
							     height="150px">
						</div>
					{% endif %}
					{% if customer.first_name %}
						<h5>Bonjour {{ customer.first_name }}</h5>
					{% else %}
						<h5>Bonjour {{ user.username }} {% if customer.last_name %} {{ customer.last_name }} {{ endif }}

						{% endif %} </h5>
					{% endif %}
					{% if customer and customer.id %}
						<a href="{% url 'customer:edit_profil_customer' customer.id %}">Modifier</a>
					{% else %}
						<a href="{% url 'customer:add_profil_customer' %}" class="text-danger">
							Compléter mon profil
						</a>
					{% endif %}
				</div>
				<!-- colonne 2 -->
				<div class="col-lg-9 md-10 col-12">
					<nav>
						<ul class="nav nav-tabs" role="tablist">
							<!-- Mes informations personnelles -->
							<li class="nav-item" role="presentation">
								<a class="nav-link color-tab-pane" data-bs-toggle="pill" data-bs-target="#tab1"
								   role="tab">
									<i class="bi bi-person-exclamation"
									   data-bs-toggle="tooltip"
									   data-bs-placement="bottom"
									   data-bs-custom-class="custom-tooltip"
									   data-bs-title="Mes informations personnelles">
										Mes informations personnelles
									</i>
								</a>
							</li>
							<!-- Mes Projets -->
							<li class="nav-item" role="presentation">
								<a class="nav-link color-tab-pane" data-bs-toggle="pill" data-bs-target="#tab2" role="tab">
									<i class="bi bi-bag-heart"></i>
									<span class="hidden"
									      data-bs-toggle="tooltip"
									      data-bs-placement="bottom"
									      data-bs-custom-class="custom-tooltip"
									      data-bs-title="Consulter ses projets">
                                        Mes projets
                                    </span>
									{% if unpaid_exists %}
										<span class="badge bg-danger ms-1">!</span>
									{% endif %}
								</a>
							</li>
							<!-- Mes documents -->
							<li class="nav-item" role="presentation">
								<a class="nav-link color-tab-pane" data-bs-toggle="pill" data-bs-target="#tab3" role="tab">
									<i class="bi bi-file-earmark-person-fill"></i>
									<span class="hidden" data-bs-toggle="tooltip"
									      data-bs-placement="bottom"
									      data-bs-custom-class="custom-tooltip"
									      data-bs-title="Affichage de la liste des documents">
										Mes documents
									</span>
								</a>
							</li>
						</ul>
					</nav>
					<div class="tab-content">
						<!-- Mes informations personnelles -->
						<div class="tab-pane fade" id="tab1" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<div class="p-4">
										{% if customer.first_name and customer.last_name %}
											<h5>
												<i class="bi bi-person"></i> {{ customer.first_name }} {{ customer.last_name }}
											</h5>
										{% else %}
											<p><i class="bi bi-person"></i> Nom et prénom : <span class="text-red"> A renseigner</span>
											</p>
										{% endif %}

										{% if customer.address %}
											<p><i class="bi bi-geo"> </i> {{ customer.address }}
												{% if customer.complement_address %},
													{{ customer.complement_address }}<br>
												{% endif %}
												<br>
												<i class="bi bi-house"></i> {{ customer.zip_code }} {{ customer.city }}
											</p>
										{% else %}
											<p>
												<i class="bi bi-geo"> Adresse : </i>
												<span class="text-red"> A renseigner</span>
											</p>
										{% endif %}

										{% if customer.mail %}
											<p>
												<i class="bi bi-envelope-at-fill"></i> {{ customer.mail }}
											</p>
										{% else %}
											<p><i class="bi bi-envelope-at-fill"></i> {{ user.email }}
											<a href="{% url 'account_email' %}">
												<small>(Modifier)</small>
											</a>
										{% endif %}

										{% if customer.phone %}
											<p><i class="bi bi-telephone"></i> {{ customer.phone }}</p>
										{% else %}
											<p><i class="bi bi-telephone"></i> Téléphone : <span class="text-red"> A renseigner</span>
											</p>
										{% endif %}

									</div>
								</div>
							</div>
						</div>
						<!-- Mes projets -->
						<div class="tab-pane fade" id="tab2" role="tabpanel">
							<div class="row">
								<div class="col-12">
									<div>
										<div class="row block-fields d-flex justify-content-between align-items-center mt-3">
											<div style="overflow-x: auto;">
												<table class="table table-bordered table-responsive rounded border overflow-hidden">
													<thead class="thead-light">
													<tr>
														<th scope="col" class="align-middle bg-info">Référence</th>
														<th scope="col" class="align-middle bg-info">Statut</th>
														<th scope="col" class="align-middle bg-info">Nom du Projet</th>
														<th scope="col" class="align-middle bg-info">Domaine</th>
														<th scope="col" class="align-middle bg-info">Serveur</th>
														<th scope="col" class="align-middle bg-info">
															Typo de projet
														</th>
														<th scope="col" class="align-middle bg-info">
															Maintenance
														</th>
													</tr>
													</thead>
													<tbody>
													{% for project in projects %}
														<tr class="align-items-center">
															<td>
																{{ project.ref }} <br>
																<a href="{% url 'details_my_project' project.id %}">
																	<i class="bi bi-eye"> Détail</i>
																</a>
															</td>
															<td>{{ project.status }}</td>
															<td>{{ project.project_name }}</td>
															<td>{{ project.domaine }}</td>
															<td>{{ project.server }}</td>
															<td>{{ project.project_type }}</td>
															<td>{{ project.maintenance_contract }}</td>
														</tr>
													{% empty %}
														<h5 class="text-red">Aucun document pour le moment</h5>
													{% endfor %}
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Mes documents -->
						<div class="tab-pane fade" id="tab3" role="tabpanel">
							<div class="row">
								<div class="col-lg-12">
									<div>
										test
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="py-5 p-4 text-start">
						{% for message in messages %}
							{% if message.tags == 'error' %}
								<div class="toast align-items-center text-white bg-danger border-0 show"
								     role="alert">
									<div class="d-flex">
										<div class="toast-body">
											{{ message }}
										</div>
										<button type="button" class="btn-close btn-close-white me-2 m-auto"
										        data-bs-dismiss="toast"></button>
									</div>
								</div>
							{% endif %}
						{% endfor %}
						<p class="text-muted">
							(Vous pouvez consulter vos informations en navigant avec les onglets ci-dessus.)
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
