{% extends "base-pages.html" %}
{% load static %}

{% block title %}Privacy - BDS{% endblock %}

  <!-- ======= Hero Section ======= -->
{% block content %}
	<section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1 class="mt-5">Bélier Développement Solution</h1>
            <h2>Développeur freelance | Fullstack</h2>
            <div class="text-center text-lg-left">
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'images/img-accueil/BLEU-ICON.svg' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
	<div class="container container-policy">
		<div class="d-flex align-items-center h-100 gradient-custom-3 py-5">
			<div class="container-fluid h-100 overflow-auto">
				<div class="row d-flex justify-content-center align-items-center h-100">
            </div>
            <div class="modal-body">
	            <h2>
	                Politique de confidentialité du Site BDS
                </h2>
                <h1>Politique en matière de cookies</h1>
				<p>Cette politique en matière de cookies décrit ce que sont les cookies et comment ils sont utilisés
				par le site Web
				<a href="https://site.bds38.com">site.bds38.com</a>
				et tous ses produits et services associés.<br>
				Cette Politique est un accord juridiquement contraignant entre vous
				« Utilisateur » et Bélier Développement Solution (faisant affaire sous
				le nom de « BDS »).
				<br>
				Si vous souscrivez à cette politique au nom d'une entreprise ou d'une autre entité juridique, vous
				déclarez que vous avez le pouvoir de lier cette entité à cette politique, auquel cas les
				termes « utilisateur », « vous » ou « votre » feront référence à une telle entité.
				<br>Si vous ne disposez pas d'une telle autorité, ou si vous n'acceptez pas les termes de cette
				politique, vous ne devez pas accepter cette politique et ne pouvez pas accéder et utiliser le site
				Web et les services.
				<br>
				Vous devez lire cette politique afin de comprendre les types de cookies que nous utilisons, les
				informations que nous collectons à l'aide des cookies et comment ces informations sont utilisées.
				Il décrit également les choix qui s'offrent à vous pour accepter ou refuser
				l'utilisation de cookies.
				<br>
				Pour plus d'informations sur la manière dont nous utilisons, stockons et protégeons vos données
				personnelles, consultez notre <a href="https://site.bds38.com/privacy">politique de confidentialité
				</a>.</p>
				<div class="toc">
					<h3>Table des matières</h3>
					<ol class="toc">
						<li>
							<a href="#what-are-cookies">Que sont les cookies ?</a>
						</li>
						<li>
							<a href="#what-type-of-cookies-do-we-use">Quel type de cookies utilisons-nous ?</a>
						</li>
						<li>
							<a href ="#what-are-your-cookie-options">Quelles sont vos options en matière de cookies ?</a>
						</li>
						<li>
							<a href="#changes-and-amendments">Changements et amendements</a >
						</li>
						<li>
							<a href="#acceptance-of-this-policy">Acceptation de cette politique</a>
						</li>
						<li><a href="#contacting-us">Contacter nous</a>
						</li>
					</ol>
				</div>
				<h2 id="what-are-cookies">Que sont les cookies ?</h2>
				<p>Les cookies sont de petits éléments de données stockés dans des fichiers texte qui sont enregistrés
					sur votre ordinateur ou sur d'autres appareils lorsque des sites Web sont chargés dans un navigateur
					. Ils sont largement utilisés pour se souvenir de vous et de vos préférences, soit pour une seule
					visite (via un « cookie de session »), soit pour plusieurs visites répétées (en utilisant un
					« cookie persistant »).
				</p>
				<p>Les cookies de session sont des cookies temporaires qui sont utilisés au cours de votre visite sur le
					site Web et qui expirent lorsque vous fermez le navigateur Web.
				</p>
				<p>Les cookies persistants sont utilisés pour mémoriser vos préférences sur notre site Web et restent
					sur votre ordinateur ou votre appareil mobile même après la fermeture de votre navigateur ou le
					redémarrage de votre ordinateur. Ils vous garantissent une expérience cohérente et efficace lors de
					votre visite sur le site Web et les services.
				</p>
				<p>Les cookies peuvent être définis par le site Web (« cookies de première partie ») ou par des tiers,
					tels que ceux qui diffusent du contenu ou fournissent des services de publicité ou d'analyse sur le
					site Web (« cookies tiers »).
					Ces tiers peuvent vous reconnaître lorsque vous visitez notre site Web ainsi que lorsque vous
					visitez certains autres sites Web.
				</p>
				<h2 id="what-type-of-cookies-do-we-use">Quel type de cookies utilisons-nous ?</h2>
				<h3>Cookies nécessaires</h3>
				<p>Les cookies nécessaires nous permettent de vous offrir la meilleure expérience possible lors de
					l'accès et de la navigation sur notre site Web et de l'utilisation de ses fonctionnalités.
					Par exemple, ces cookies nous permettent de reconnaître que vous avez créé un compte et que vous
					vous êtes connecté à ce compte pour accéder au contenu.</p>
				<h3>Cookies de fonctionnalité</h3>
				<p>Les cookies de fonctionnalité nous permettent d'exploiter le site Web et les services conformément
					aux choix que vous faites. Par exemple, nous reconnaîtrons votre nom d'utilisateur et nous
					souviendrons de la façon dont vous avez personnalisé le site Web et les services lors de vos
					prochaines visites.
				</p>
				<h2 id="what-are-your-cookie-options">Quelles sont vos options en matière de cookies ?</h2>
				<p>Si vous n'aimez pas l'idée des cookies ou certains types de cookies, vous pouvez modifier les
					paramètres de votre navigateur pour supprimer les cookies déjà définis et ne pas accepter de
					nouveaux cookies. Visitez
					<a href="https://www.internetcookies.com" ref="nofollow noreferrer noopener external">
						internetcookies.com
					</a>
					pour en savoir plus sur la façon de procéder.
				</p>
				<p>Veuillez toutefois noter que si vous supprimez les cookies ou ne les acceptez pas, vous ne pourrez
					peut-être pas utiliser toutes les fonctionnalités proposées par le site Web et les services.
				</p>
				<h2 id="changes-and-amendments">Changements et amendements</h2>
				<p>Nous nous réservons le droit de modifier cette politique ou ses conditions liées au site Web et aux
					services à tout moment, à notre discrétion. Lorsque nous le ferons, nous réviserons la date mise à
					jour au bas de cette page. Nous pouvons également vous informer par d'autres moyens à notre
					discrétion, par exemple via les informations de contact que vous avez fournies.
				</p>
				<p>Une version mise à jour de cette politique entrera en vigueur immédiatement après la publication de
					la politique révisée, sauf indication contraire. Votre utilisation continue du site Web et des
					services après la date d'entrée en vigueur de la politique révisée (ou de tout autre acte spécifié
					à ce moment-là) constituera votre consentement à ces modifications.
				</p>
				<h2 id="acceptance-of-this-policy">Acceptation de cette politique</h2>
				<p>Vous reconnaissez avoir lu cette politique et acceptez tous ses termes et conditions. En accédant et
					en utilisant le site Web et les services, vous acceptez d'être lié par cette politique. Si vous n'
					acceptez pas de respecter les termes de cette politique, vous n'êtes pas autorisé à accéder ou à
					utiliser le site Web et les services. Cette politique a été créée à l'aide du
					<a href="https://www.websitepolicies.com/cookie-policy-generator">
						générateur de politique en matière de cookies</a>.
				</p>
				<h2 id="contacting-us">Nous contacter</h2>
				<p>Si vous avez des questions, des préoccupations ou des plaintes concernant cette politique ou
					l'utilisation de cookies , nous vous encourageons à nous contacter en utilisant les coordonnées
					ci-dessous :
				</p>
				<p><a href="https://site.bds38.com">https://site.bds38.com</a>
					<br/>
					<a href="mailto:contact@bds38.com">
					contact@bds38.com</a>
				</p>
				<p>Ce document a été mis à jour pour la dernière fois le 23 juin 2024.
				<p class="madewith">
				<a href="https://www.websitepolicies.com/cookie-policy-generator?via=madewithbadge">
					<img width="200" height="25" alt="Fabriqué avec le générateur de politique de cookies WebsitePolicies"
					     src="https://cdn.websitepolicies.io/img/badge.png"
					     srcset="https://cdn.websitepolicies.io/img/badge_2x.png 2x">
				</a>
            </p>
            </div>
            </div>
		</div>
	</div>
<div class="container-fluid">
	 <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

</div>

  </section><!-- End Hero -->

{% endblock content %}