{% load static %}

<!-- ======= Footer ======= -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-info">
						<h3>BDS</h3>
						<strong>Téléphone:</strong> 06 73 21 22 72<br>
						<strong>Email:</strong> contact@bds38.com<br>
						</p>
						<div class="social-links mt-3">
							<a href="https://www.facebook.com/BDS.EI/" class="facebook"><i class="bx bxl-facebook"></i></a>
							<a href="https://www.instagram.com/luc.belier/" class="instagram"><i
									class="bx bxl-instagram"></i></a>
							<a href="https://www.linkedin.com/in/luc-belier-4a582828b/" class="linkedin"><i
									class="bx bxl-linkedin"></i></a>
							<a href="https://github.com/II-Luc-II/" class="linkedin"><i class="bx bxl-github"></i></a>
							<a href="https://discord.com/channels/1235925566432215111/1235925566964764723"
							   class="linkedin"><i class="bx bxl-discord"></i></a>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-md-6 footer-links">
					<h4>Plan du site</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Accueil</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/#about">A-propos</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="/#features">Les solutions</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="#polycy-Modal" data-toggle="modal"
						                                           data-target="#polycy-Modal">Privacy policy</a></li>
					</ul>
				</div>


				<div class="col-lg-4 col-md-6 footer-newsletter" id="newsletter">
					<h4>La Newsletter</h4>
					{% if messages %}
						<div>
							{% include "components/messages.html" with messages=messages %}
						</div>
					{% endif %}
					<p>S'inscrire :</p>
					<form action="{% url 'add-news-letter' %}" method="post">
						{% csrf_token %}
						<input type="email" name="new-letter-email" placeholder="Saisir votre email">
						<input type="submit" value="Inscription">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong><span>bds38.com</span></strong>
		</div>
	</div>

</footer>
<!-- End Footer -->

<!-- Modal -->
<div class="modal fade" id="polycy-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Politique de confidentialité du Site BDS</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Cette politique de confidentialité décrit comment BDS, utilise et protège vos données
					personnelles lorsque vous utilisez notre site web.</p>

				<h2>Informations que nous collectons</h2>
				<p>Nous ne collectons que votre nom, le nom de l'entreprise, l'adresse mail et le n° de téléphone lors
					d'une demande
					de devis ou de l'envoi d'un message dans contact sur notre site.
					Ces informations sont nécessaires pour pouvoir répondre à vos demandes.</p>


				<h2>Protection de vos données</h2>
				<p>Nous prenons des mesures de sécurité appropriées pour protéger vos données personnelles contre tout
					accès non
					autorisé, modification, divulgation ou destruction.</p>

				<h2>Cookies</h2>
				<p>Notre site peut utiliser des cookies pour améliorer votre expérience utilisateur. Ces cookies ne
					collectent pas
					d'informations personnelles vous concernant et sont utilisés uniquement à des fins techniques.</p>

				<h2>Vos droits</h2>
				<p>Vous avez le droit de demander l'accès à vos données personnelles, de les corriger, de les mettre à
					jour ou de
					les supprimer. Pour exercer ces droits, veuillez nous contacter à contact@bds38.com.</p>

				<h2>Modifications de cette politique</h2>
				<p>Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment. Les
					modifications
					seront publiées sur cette page avec une date de mise à jour.</p>

				<h1>Politique en matière de cookies</h1>
				<p>Cette politique en matière de cookies décrit ce que sont les cookies et comment ils sont utilisés
					par le site Web
					<a href="https://site.bds38.com">site.bds38.com</a>
					et tous ses produits et services associés.<br>
					Cette Politique est un accord juridiquement contraignant entre vous
					« Utilisateur » et Bélier Développement Solution (faisant affaire sous
					le nom de « BDS »).
					<br>
					Si vous souscrivez à cette politique au nom d'une entreprise ou d'une autre entité juridique, vous
					déclarez que vous avez le pouvoir de lier cette entité à cette politique, auquel cas les
					termes « utilisateur », « vous » ou « votre » feront référence à une telle entité.
					<br>Si vous ne disposez pas d'une telle autorité, ou si vous n'acceptez pas les termes de cette
					politique, vous ne devez pas accepter cette politique et ne pouvez pas accéder et utiliser le site
					Web et les services.
					<br>
					Vous devez lire cette politique afin de comprendre les types de cookies que nous utilisons, les
					informations que nous collectons à l'aide des cookies et comment ces informations sont utilisées.
					Il décrit également les choix qui s'offrent à vous pour accepter ou refuser
					l'utilisation de cookies.
					<br>
					Pour plus d'informations sur la manière dont nous utilisons, stockons et protégeons vos données
					personnelles, consultez notre <a href="https://site.bds38.com/privacy">politique de confidentialité
					</a>.
				</p>
				<div class="toc">
					<h3>Table des matières</h3>
					<ol class="toc">
						<li>
							<a href="#what-are-cookies">Que sont les cookies ?</a>
						</li>
						<li>
							<a href="#what-type-of-cookies-do-we-use">Quel type de cookies utilisons-nous ?</a>
						</li>
						<li>
							<a href="#what-are-your-cookie-options">Quelles sont vos options en matière de cookies ?</a>
						</li>
						<li>
							<a href="#changes-and-amendments">Changements et amendements</a>
						</li>
						<li>
							<a href="#acceptance-of-this-policy">Acceptation de cette politique</a>
						</li>
						<li><a href="#contacting-us">Contacter nous</a>
						</li>
					</ol>
				</div>
				<h2 id="what-are-cookies">Que sont les cookies ?</h2>
				<p>Les cookies sont de petits éléments de données stockés dans des fichiers texte qui sont enregistrés
					sur votre ordinateur ou sur d'autres appareils lorsque des sites Web sont chargés dans un navigateur
					. Ils sont largement utilisés pour se souvenir de vous et de vos préférences, soit pour une seule
					visite (via un « cookie de session »), soit pour plusieurs visites répétées (en utilisant un
					« cookie persistant »).
				</p>
				<p>Les cookies de session sont des cookies temporaires qui sont utilisés au cours de votre visite sur le
					site Web et qui expirent lorsque vous fermez le navigateur Web.
				</p>
				<p>Les cookies persistants sont utilisés pour mémoriser vos préférences sur notre site Web et restent
					sur votre ordinateur ou votre appareil mobile même après la fermeture de votre navigateur ou le
					redémarrage de votre ordinateur. Ils vous garantissent une expérience cohérente et efficace lors de
					votre visite sur le site Web et les services.
				</p>
				<p>Les cookies peuvent être définis par le site Web (« cookies de première partie ») ou par des tiers,
					tels que ceux qui diffusent du contenu ou fournissent des services de publicité ou d'analyse sur le
					site Web (« cookies tiers »).
					Ces tiers peuvent vous reconnaître lorsque vous visitez notre site Web ainsi que lorsque vous
					visitez certains autres sites Web.
				</p>
				<h2 id="what-type-of-cookies-do-we-use">Quel type de cookies utilisons-nous ?</h2>
				<h3>Cookies nécessaires</h3>
				<p>Les cookies nécessaires nous permettent de vous offrir la meilleure expérience possible lors de
					l'accès et de la navigation sur notre site Web et de l'utilisation de ses fonctionnalités.
					Par exemple, ces cookies nous permettent de reconnaître que vous avez créé un compte et que vous
					vous êtes connecté à ce compte pour accéder au contenu.</p>
				<h3>Cookies de fonctionnalité</h3>
				<p>Les cookies de fonctionnalité nous permettent d'exploiter le site Web et les services conformément
					aux choix que vous faites. Par exemple, nous reconnaîtrons votre nom d'utilisateur et nous
					souviendrons de la façon dont vous avez personnalisé le site Web et les services lors de vos
					prochaines visites.
				</p>
				<h2 id="what-are-your-cookie-options">Quelles sont vos options en matière de cookies ?</h2>
				<p>Si vous n'aimez pas l'idée des cookies ou certains types de cookies, vous pouvez modifier les
					paramètres de votre navigateur pour supprimer les cookies déjà définis et ne pas accepter de
					nouveaux cookies. Visitez
					<a href="https://www.internetcookies.com" ref="nofollow noreferrer noopener external">
						internetcookies.com
					</a>
					pour en savoir plus sur la façon de procéder.
				</p>
				<p>Veuillez toutefois noter que si vous supprimez les cookies ou ne les acceptez pas, vous ne pourrez
					peut-être pas utiliser toutes les fonctionnalités proposées par le site Web et les services.
				</p>
				<h2 id="changes-and-amendments">Changements et amendements</h2>
				<p>Nous nous réservons le droit de modifier cette politique ou ses conditions liées au site Web et aux
					services à tout moment, à notre discrétion. Lorsque nous le ferons, nous réviserons la date mise à
					jour au bas de cette page. Nous pouvons également vous informer par d'autres moyens à notre
					discrétion, par exemple via les informations de contact que vous avez fournies.
				</p>
				<p>Une version mise à jour de cette politique entrera en vigueur immédiatement après la publication de
					la politique révisée, sauf indication contraire. Votre utilisation continue du site Web et des
					services après la date d'entrée en vigueur de la politique révisée (ou de tout autre acte spécifié
					à ce moment-là) constituera votre consentement à ces modifications.
				</p>
				<h2 id="acceptance-of-this-policy">Acceptation de cette politique</h2>
				<p>Vous reconnaissez avoir lu cette politique et acceptez tous ses termes et conditions. En accédant et
					en utilisant le site Web et les services, vous acceptez d'être lié par cette politique. Si vous n'
					acceptez pas de respecter les termes de cette politique, vous n'êtes pas autorisé à accéder ou à
					utiliser le site Web et les services. Cette politique a été créée à l'aide du
					<a href="https://www.websitepolicies.com/cookie-policy-generator">
						générateur de politique en matière de cookies</a>.
				</p>
				<h2 id="contacting-us">Nous contacter</h2>
				<p>Si vous avez des questions, des préoccupations ou des plaintes concernant cette politique ou
					l'utilisation de cookies , nous vous encourageons à nous contacter en utilisant les coordonnées
					ci-dessous :
				</p>
				<p><a href="https://site.bds38.com">https://site.bds38.com</a>
					<br/>
					<a href="mailto:contact@bds38.com">
						contact@bds38.com</a>
				</p>
				<p>Ce document a été mis à jour pour la dernière fois le 23 juin 2024.
				<p class="madewith">
					<a href="https://www.websitepolicies.com/cookie-policy-generator?via=madewithbadge">
						<img width="200" height="25"
						     alt="Fabriqué avec le générateur de politique de cookies WebsitePolicies"
						     src="https://cdn.websitepolicies.io/img/badge.png"
						     srcset="https://cdn.websitepolicies.io/img/badge_2x.png 2x">
					</a>
				</p>
			</div>
			<div class="modal-footer">
				<a href="{% url "index" %}" class="btn-general">
					Retour
				</a>
				</button>
			</div>
		</div>
	</div>
</div>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<div id="preloader"></div>

<script src="https://cdn.jsdelivr.net/npm/@ckeditor/ckeditor5-build-classic@41.2.1/build/ckeditor.min.js"></script>
<script>
    const editors = document.querySelectorAll('textarea')

    editors.forEach(editor => {
        editor.removeAttribute('required')
        ClassicEditor
            .create(editor)
            .catch(error => {
                console.error(error);
            })
    })
</script>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MM3RM54R"
	        height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>

</html>