{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">

	<div class="container d-flex align-items-center">
		<div class="logo-bds">
			<a href="{% url 'index' %}">
				<img src="{% static 'images/img-accueil/BLANC-ICON.svg' %}"
				     alt="Logo-bds"
				     class="img-fluid">
			</a>
		</div>
		<div class="logo mr-auto">
			<h1 class="text-light"><a href="{% url 'index' %}"><span>B.D.S</span></a></h1>
		</div>
		<nav class="nav-menu d-none d-lg-block">
			<ul>
				<li class="nav-item dropdown anim-link">
					<a class="nav-link" href="{% url 'index' %}">Qui sommes-nous ?</a>

					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{% url 'index' %}#about">A-propos</a>
						</li>

						<li>
							<a class="dropdown-item" href="{% url 'index' %}#features">Les solutions</a>
						</li>

						<li>
							<a class="dropdown-item" href="{% url 'index' %}#gallery">Portfolio</a>
						</li>

						<li>
							<a class="dropdown-item" href="{% url 'index' %}#team">L'équipe</a>
						</li>
					</ul>
				</li>
				<li class="nav-item anim-link">
					<a href="{% url 'your-project' %}" class="nav-link"
					   data-bs-toggle="tooltip"
					   data-bs-placement="left"
					   data-bs-custom-class="custom-tooltip"
					   data-bs-title="Faire une demande de projet ou un devis">
						Un projet ?
					</a>
				</li>
				<!-- Menu actualité -->
				<li class="nav-item dropdown anim-link">
					<a class="nav-link"
					   href="{% url 'news' %}">
						Les applications
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{% url 'news' %}#blog-{{ blogs.id }}"
							   data-bs-toggle="tooltip"
							   data-bs-placement="left"
							   data-bs-custom-class="custom-tooltip"
							   data-bs-title="Voir les applications proposées et les articles">
								Tous les articles
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>
						{% for blog in blogs %}
							<li class="cache">
								<a class="dropdown-item" href="{% url 'news' %}#blog-{{ blog.id }}">
									{{ blog.title }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</li>
				<li class="nav-item anim-link">
					<a href="{% url "contact" %}" class="nav-link">Contact</a>
				</li>
				{% if user.is_superuser %}
					<li class="nav-item dropdown anim-link">
						<a class="nav-link" href="#">Gestion</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{% url 'site_list' %}">Liste des sites</a>
							</li>
							<li>
								<a class="dropdown-item" href="{% url "customer:administration" %}">Tableau de bord</a>
							</li>
							<li>
								<a class="dropdown-item" href="{% url 'snack_game' %}">Le jeu du serpent</a>
							</li>
							<li>
								<a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
							</li>
							<li>
								<a class="dropdown-item" href="{% url 'add_article' %}">News letter</a>
							</li>
						</ul>
					</li>
				{% endif %}

				<li class="drop-down">
					<a href="">Réseaux sociaux</a>
					<ul class="dropdown-menu">
						<li>
							<a href="https://www.facebook.com/BDS.EI/" class="facebook" target="_blank"
							   rel="noopener noreferrer">
								<i class="bx bxl-facebook"></i> - Facebook
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/luc.belier/" class="instagram" target="_blank"
							   rel="noopener noreferrer">
								<i class="bx bxl-instagram"></i> - Instagram
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/luc-belier-4a582828b/" class="linkedin" target="_blank"
							   rel="noopener noreferrer">
								<i class="bx bxl-linkedin"></i> - Linkedin
							</a>
						</li>
						<li>
							<a href="https://github.com/II-Luc-II/" class="github" target="_blank"
							   rel="noopener noreferrer">
								<i class="bx bxl-github"></i> - Github
							</a>
						</li>
						<li>
							<a href="https://discord.com/channels/1235925566432215111/1235925566964764723"
							   class="discord" target="_blank" rel="noopener noreferrer">
								<i class="bx bxl-discord"></i> - Discord
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown anim-link">
					<a href="#"><i class="bi bi-person-circle"></i> Mon compte </a>
					<ul class="dropdown-menu">
						<li class="nav-item dropdown anim-link">
							<!-- User logout -->
							<a href="{% url 'account' %}"
							   class="dropdown-item"
							   data-bs-toggle="tooltip"
							   data-bs-placement="left"
							   data-bs-custom-class="custom-tooltip"
							   data-bs-title="Accéder à votre compte : {{ user.username }}">
								Mon compte
							</a>
						</li>
						{% if user.is_authenticated %}
							<li>
								<!-- User logout -->
								<a href="{% url 'account_logout' %}"
								   class="dropdown-item"
								   data-bs-toggle="tooltip"
								   data-bs-placement="left"
								   data-bs-custom-class="custom-tooltip"
								   data-bs-title="Déconnexion: {{ user.username }}">
									Déconnexion
								</a>
							</li>
							<li>
								<!-- User change profile -->
								<a href="{% url 'customer:edit_profil_customer' user.id %}"
								   class="dropdown-item"
								   data-bs-toggle="tooltip"
								   data-bs-placement="left"
								   data-bs-custom-class="custom-tooltip"
								   data-bs-title="Modifier Les informations de votre compte client">
									Modifier mon compte
								</a>
							</li>
							<li>
								<!-- User Change password -->
								<a href="{% url 'account_change_password' %}"
								   class="dropdown-item"
								   data-bs-toggle="tooltip"
								   data-bs-placement="left"
								   data-bs-custom-class="custom-tooltip"
								   data-bs-title="Changer son mot de passe">
									Changer votre mot de passe
								</a>
							</li>
						{% else %}
							<li>
								<!-- User login -->
								<a href="{% url 'account_login' %}"
								   class="dropdown-item"
								   data-bs-toggle="tooltip"
								   data-bs-placement="left"
								   data-bs-custom-class="custom-tooltip"
								   data-bs-title="Connexion">
									Connexion
								</a>
							</li>
							<li>
								<!-- User member signup -->
								<a href="{% url 'account_signup' %}"
								   class="dropdown-item"
								   data-bs-toggle="tooltip"
								   data-bs-placement="left"
								   data-bs-custom-class="custom-tooltip"
								   data-bs-title="Inscription">
									Créer son compte
								</a>
							</li>
						{% endif %}
					</ul>
				</li>
			</ul>
		</nav><!-- .nav-menu -->
	</div>
</header><!-- End Header -->

