{% extends "base.html" %}
{% load static %}

{% block title %}Votre projet - BDS{% endblock %}


{% block content %}
	<section id="hero">


	<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	     viewBox="0 24 150 28 " preserveAspectRatio="none">
		<defs>
			<path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
		</defs>
		<g class="wave1">
			<use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
		</g>
		<g class="wave2">
			<use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
		</g>
		<g class="wave3">
			<use xlink:href="#wave-path" x="50" y="9" fill="#fff">
		</g>
	</svg>
	</section>
	<!-- End Hero -->

<div class="container">
		<div class="section-title py-5" data-aos="fade-up">
          <h2>Devis</h2>
          <p>Parlez nous de votre projet </p>
        </div>
		<div class="row">
			<div class="col-sm-3">
				<form method="post" enctype="multipart/form-data" class="py-2">
					{% csrf_token %}
					<div class="form-group">
						<label for="questions_1">Quel est votre besoin ?</label>
						{{ form.questions_1 }}
						{% if form.questions_1.errors %}
							{% for error in form.questions_1.errors %}
								<span>
                                        {{ error }}
                                    </span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group">
						<label for="questions_2">Quel Votre budget ?</label>
						{{ form.questions_2 }}
						{% if form.questions_2.errors %}
							{% for error in form.questions_2.errors %}
								<span>
                                        {{ error }}
                                    </span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group">
						<label for="questions_3">Date de démarrage ?</label>
						{{ form.questions_3 }}
						{% if form.questions_3.errors %}
							{% for error in form.questions_3.errors %}
								<span>
                                        {{ error }}
                                    </span>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="description"></label>
						{{ form.description }}
						{% if form.description.errors %}
							{% for error in form.description.errors %}
								<span>
                                        {{ error }}
                                    </span>
							{% endfor %}
						{% endif %}
					</div>
			</div>
			<div class="col-sm-3">
					<div class="form-group m-1 p-0">
						<label for="author"></label>
						{{ form.author }}
						{% if form.author.errors %}
							{% for error in form.author.errors %}
								<span>
                                        {{ error }}
                                    </span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group m-1 p-0">
						<label for="entreprise"></label>
						{{ form.entreprise }}
						{% if form.entreprise.errors %}
							{% for error in form.entreprise.errors %}
								<span>
                                        {{ error }}
                                    </span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="orm-group m-1 p-0">
						<label for="email"></label>
						{{ form.email }}
						{% if form.email.errors %}
							{% for error in form.email.errors %}
								<span>
                                        {{ error }}
                                    </span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="orm-group m-1 p-0">
						<label for="telephone"></label>
						{{ form.telephone }}
						{% if form.telephone.errors %}
							{% for error in form.telephone.errors %}
								<span>
                                        {{ error }}
                                    </span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="button-form py-4">
						<div class="text-center">
							<button class="btn btn-info" type="submit">
								Envoyer
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}

{% block footer %}

{% endblock %}