body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: brightness(0.6);
}

.content {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 20px;
}

h1 {
    font-size: 6rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #00d1b2;
    font-weight: bold;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}
