
/* -------------------------------------
 ---------- Account allauth ------------
 -------------------------------------*/

li, ul {
    list-style-type: none;
}

label {
    color: black !important;
}

.account-card {
    width: 800px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #587B9F;
}

button:hover {
    background-color: #4f5e70;;
    color: #FFFFFF;
}

button:after {
    background-color: #FFFFFF;
    color: #152942;
}


button {
    height: 40px;
    width: auto;
    padding: 0 25px;
    border-radius: 8px !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px !important;
    background-color: #152942;
    color: #FFFFFF;
    display: flex;
    justify-content: center !important;
    align-items: center;
    font-size: 14px; /* Ajuste la taille du texte si nécessaire */
    border: none;
    cursor: pointer;
}


select,
#form-account input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: solid black; /* Style et couleur */
    border-width: 1px 0 0 1px; /* Haut, Droite, Bas, Gauche */
    padding: 0 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

span,
#form-account label {
    margin-bottom: 2px;
    margin-top: 2px;
}

input#id_remember {
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

input#email_radio_0 {
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
}

label {
    justify-content: center !important;
    width: 200px !important;
    margin-left: auto;
    margin-right: auto;
}

#text {
    align-items: center;
}

select {
    width: 100%;
    height: 40px;
}


p#id_remember {
    display: inline-block;
    align-items: center !important;
    justify-content: center !important;
}

strong {
    display: none;
}

.button-password a ,button {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.change-profile ,form label {
    width: 100%;
    text-align: left !important;
}


@media (max-width: 781px) {
    #form-account li, ul {
        padding: 0 !important;
        margin: 0 !important;
    }
    .card {
        width: 100%;
        padding: 30px 20px 30px 20px !important;
    }
}