{% load custom_filter_form %}
{% load static %}
{% load crispy_forms_filters %}

<section id="members" class="content-section">
	<div class="section-header">
		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-12 py-2">
				<h2 class="mb-0 d-flex align-items-center gap-2">
					<span>Gestion des Clients</span>
					<span class="badge rounded-pill text-bg-secondary fs-4 member-count-badge">
                        {{ customers_count }}
                    </span>
				</h2>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 py-2">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#adherentModal">
					+ Nouveau client
				</button>
			</div>
		</div>
	</div>

	<!-- SUPPRIMER CE BLOC -->
	<div class="col-lg-4 col-md-4 col-sm-12 py-2 search-box">
		<input
				type="text"
				name="q"
				placeholder="Rechercher un client..."
				hx-get="{% url 'customer:members_table' %}"
				hx-target="#membersTable"
				hx-trigger="keyup changed delay:300ms"
				hx-swap="innerHTML">
		<span class="search-icon">🔍</span>
	</div>

	<div class="table-container">
		<table class="table table-secondary table-striped">
			<thead>
			<tr>
				<th class="align-middle">Photo</th>
				<th class="align-middle">Nom</th>
				<th class="align-middle">Prénom</th>
				<th class="align-middle">Email</th>
				<th class="align-middle text-center">Téléphone</th>
				<th class="align-middle text-center">Adresse</th>
				<th class="align-middle text-center">Actions</th>
			</tr>
			</thead>

			<tbody
					id="membersTable"
					hx-get="{% url 'customer:members_table' %}"
					hx-trigger="load, memberUpdated from:body"
					hx-swap="innerHTML"
			></tbody>

		</table>
	</div>

	<!-- Modal Bootstrap Ajout (OK temporairement) -->
	<div class="modal fade" id="adherentModal" tabindex="-1" aria-labelledby="adherentModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<form method="POST" action="{% url 'customer:members' %}">
					{% csrf_token %}

					<div class="modal-header">
						<h5 class="modal-title" id="adherentModalLabel">Nouveau client</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
					</div>

					<div class="modal-body">
						<div class="row">
							<div class="col-12 text-center">
								<div class="form-group">
									<label for="user">User*</label>
									{{ form.user }}
									{% if form.user.errors %}
										{% for error in form.user.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="col-12">
								<div class="form-group text-center py-4">
									{% if customer.image %}
										<img src="{{ customer.image.url }}" alt="image user" width="200">
										<br>
									{% else %}
										<img src="{% static 'images/user-image.png' %}" alt="image user"
										     width="200">
										<br>
									{% endif %}
									<label for="image" class="fs-5">Photo</label>
									{% if customers.image %}
										{% if customers.image.url %}
											<div class="text-center mb-3">
												<img src="{{ customers.image.url }}" alt="photo-anim"
												     width="200"
												     class="rounded-circle">
											</div>
										{% endif %}
									{% endif %}
									<div class="form-group">
										{{ form.image|add_class:"form-control" }}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12">
								<div class="form-group">
									<label for="first_name">Nom*</label>
									{{ form.first_name }}
									{% if form.first_name.errors %}
										{% for error in form.first_name.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									{% endif %}
								</div>
								<div class="form-group">
									<label for="last_name">Prénom*</label>
									{{ form.last_name }}
									{% if form.last_name.errors %}
										{% for error in form.last_name.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12">
								<div class="form-group">
									<label for="entreprise">Entreprise*</label>
									{{ form.entreprise }}
									{% if form.entreprise.errors %}
										{% for error in form.entreprise.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									{% endif %}
								</div>
								<div class="form-group">
									<label for="phone">Téléphone*</label>
									{{ form.phone }}
									{% if form.phone.errors %}
										{% for error in form.phone.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									{% endif %}
								</div>
								<div class="form-group">
									<label for="mail">Mail*</label>
									{{ form.mail }}
									{% if form.mail.errors %}
										{% for error in form.mail.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									{% endif %}
								</div>
							</div>
							<div class="col-12">
								<div class="form-group position-relative">
									<label for="address">Adresse*</label>
									{{ form.address }}
									{% if form.address.errors %}
										{% for error in form.address.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									{% endif %}
									<ul id="address-suggestions" class="list-group mt-1"></ul>
								</div>
							</div>
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fermer</button>
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

