{% load custom_filter_form %}
{% load static %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

<div class="modal-header">
	<h5 class="modal-title">
		Message de {{ message_client.name }}
	</h5>

	<button type="button"
	        class="btn-close"
	        data-bs-dismiss="modal"
	        aria-label="Fermer">
	</button>
</div>

<div class="modal-body">
	<p><strong>Nom :</strong> {{ message_client.name }}</p>
	<p><strong>Email :</strong> {{ message_client.email }}</p>
	<p><strong>Date :</strong> {{ message_client.created_at|date:"d/m/Y H:i" }}</p>
	<p><strong>Sujet :</strong> {{ message_client.subject }}</p>
	<div>

	</div>
	<hr>

	<p><strong>Message :</strong></p>
	<div class="border rounded p-3 bg-light">
		{{ message_client.message|safe }}
	</div>

</div>

<div class="modal-footer">
	<a href="mailto:{{ message_client.email }}"
	   class="btn btn-primary">
		Répondre
	</a>


	<button type="button"
	        class="btn btn-secondary"
	        data-bs-dismiss="modal">
		Fermer
	</button>

	<form method="post"
	      action="{% url 'customer:delete_message' message_client.id %}"
	      onclick="return confirm('Confirmer la suppression du message ?')">
		{% csrf_token %}

		<button type="submit" class="btn btn-danger">
			Supprimer
		</button>
	</form>

</div>
