{% extends 'base.html' %}
{% load custom_filter_form %}
{% load static %}
{% load custom_filters %}
{% block title %} Article {% endblock %}
<!-- Fixed navbar -->

{% block content %}
	<section id="hero">
		<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		     viewBox="0 24 150 28 " preserveAspectRatio="none">
			<defs>
				<path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
			</defs>
			<g class="wave1">
				<use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
			</g>
			<g class="wave2">
				<use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
			</g>
			<g class="wave3">
				<use xlink:href="#wave-path" x="50" y="9" fill="#fff">
			</g>
		</svg>
	</section><!-- End Hero -->

	<div class="container justify-content-center align-items-center min-vh-100">
		<div class="mt-2">
			<div class="bg-titre-team p-2 bg-titre-team-rounded">
				<h1 class="text-center py-3">
					Modifier un article
				</h1>
			</div>
			<form method="post" enctype="multipart/form-data" class="bg-pink-light p-4 rounded">
				{% csrf_token %}
				<div class="col-12 centrage-création-session p-4">
					<div class="form-group text-start">
						<label for="title">Titre :</label>
						{{ form.title }}
						{% if form.title.errors %}
							{% for error in form.title.errors %}
								<span class="text-danger">{{ error }}</span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group text-start">
						<label for="content">Article :</label>
						{{ form.content }}
						{% if form.content.errors %}
							{% for error in form.content.errors %}
								<span class="text-danger">{{ error }}</span>
							{% endfor %}
						{% endif %}
					</div>
					<div class="form-group mt-2 text-center">
						{{ form.image.label_tag }}
						{% if articles.image and articles.image.url %}
							<div class="text-center">
								<img src="{{ articles.image.url }}" alt="photo-anim"
								     width="200" class="rounded">
							</div>
						{% endif %}
						<span style="width: 50px">{{ form.image|add_class:"form-control" }}</span>
					</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-outline-primary">
						<i class="bi bi-arrow-up-square"></i>
						Publier
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}