{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur interne du serveur</title>
	<link rel="stylesheet" href="{% static 'assets/css/404.css' %}">
</head>

<body>
    <div class="content">
	    <img src="{% static 'assets/img/logo-bleu-bds.svg' %}" alt="logo-bds" height="150">
        <h1>500</h1>
        <p>Une erreur est survenue. Nos équipes ont été prévenues.</p>
        <a href="/">Retour à l'accueil</a>
    </div>
</body>
</html>
