{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
	{% include 'partials/head.html' %}
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	<title>{% block title %}{% endblock %}</title>
</head>
{% include "partials/header-pages.html" %}
{% include "components/messages.html" %}
<body data-bs-spy="scroll" data-bs-target=".nav-menu" data-bs-offset="50">
    {% block content %}

    {% endblock %}


    {% block footer %}

    {% endblock %}
 {% include "partials/footer.html" %}
</body>
<script>
document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
});
</script>


