{% extends 'base-pages.html' %}
{% load static %}
{% load custom_filter_form %}
{% load widget_tweaks %}

{% block title %} Mon profil {% endblock %}

{% block content %}
	<section id="hero">
		<svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		     viewBox="0 24 150 28 " preserveAspectRatio="none">
			<defs>
				<path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
			</defs>
			<g class="wave1">
				<use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
			</g>
			<g class="wave2">
				<use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
			</g>
			<g class="wave3">
				<use xlink:href="#wave-path" x="50" y="9" fill="#fff">
			</g>
		</svg>
	</section>
	<!-- End Hero -->
	<div class="container-fluide">
		<section id="config" class="config min-vh-100 centrage-col-form rounded">
			<div class="row d-flex justify-content-center align-items-start p-3">
				<div class="text-center mb-2">
					<form method="POST" enctype="multipart/form-data" class="rounded"
					      action="{% url 'customer:edit_profil_customer' customer.id %}">
						{% csrf_token %}
						<div class="col-12 centrage-col-image rounded bg-form-customer mb-2 p-2">
							<!-- Form image -->
							<div class="form-group text-center py-4">
								{% if customer.image %}
									<img src="{{ customer.image.url }}" alt="image user" width="200">
									<br>
								{% else %}
									<img src="{% static 'images/user-image.png' %}" alt="image user"
									     width="200">
									<br>
								{% endif %}
								<label for="image" class="fs-5">Photo</label>
								{% if customers.image %}
									{% if customers.image.url %}
										<div class="text-center mb-3">
											<img src="{{ customers.image.url }}" alt="photo-anim"
											     width="200"
											     class="rounded-circle">
										</div>
									{% endif %}
								{% endif %}
								<div class="form-group">
									{{ form.image|add_class:"form-control" }}
								</div>
							</div>
						</div>
						<div class="row rounded bg-form-customer p-3">
							<div class="col-lg-6 col-md-6 col-sm-12 py-3">
								<div class="form-account">
									<!-- Form Nom -->
									<div class="form-group text-start">
												<span class="identify">
												 <i class="bi bi-person-exclamation fs-5">
													 Nom*
												 </i>
									            </span>
										<label for="last_name"></label>
										{{ form.last_name }}
										{% for error in form.last_name.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 py-3">
								<div class="form-account">
									<!-- Form Prénom -->
									<div class="form-group text-start">
											<span class="identify">
											 <i class="bi bi-person-exclamation fs-5">
												 Prénom*
											 </i>
								            </span>
										<label for="first_name"></label>
										{{ form.first_name }}
										{% for error in form.first_name.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<div class="row rounded bg-form-customer p-3 mt-2">
							<div class="col-lg-4 col-md-6 col-sm-12 py-2">
								<div class="form-account">
									<!-- Form Mail -->
									<div class="form-group text-start">
											<span class="identify-geo-tel">
												 <i class="bi bi-envelope-at fs-5">
													 Email*
												</i>
											</span>
										<label for="mail"></label>
										{{ form.mail }}
										{% for error in form.mail.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12 py-2">
								<div class="form-account">
									<!-- Form Entreprise -->
									<div class="form-group text-start">
											<span class="entreprise">
											    <i class="bi bi-buildings fs-5">
													  Entreprise
											    </i>
										    </span>
										<label for="entreprise"></label>
										{{ form.entreprise }}
										{% for error in form.entreprise.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-sm-12 py-2">
								<!-- Form Téléphone -->
								<div class="form-account">
									<div class="form-group">
										<div class="form-group text-start">
														<span class="identify-geo-tel">
															 <i class="bi bi-telephone fs-5">
																 Téléphone*
															</i>
														 </span>
											<label for="phone"></label>
											{{ form.phone }}
											{% for error in form.phone.errors %}
												<span class="text-danger">{{ error }}</span>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row rounded bg-form-customer p-3 mt-2">
							<div class="col-12">
								<div class="form-account">
									<div class="form-group text-start position-relative py-2">
                <span class="identify-geo">
                    <i class="bi bi-geo fs-5">Adresse*</i>
                </span>

										<label for="address" class="visually-hidden">Adresse</label>
										{{ form.address|attr:"name:address"|add_class:"form-control" }}

										{% for error in form.address.errors %}
											<span class="text-danger">{{ error }}</span>
										{% endfor %}

										<ul id="address-suggestions" class="list-group mt-1"></ul>
									</div>
								</div>
							</div>
						</div>
						<!-- Bouton -->
						<div class="text-center mt-5">
							<button type="submit" class="btn-general btn-block">
								Enregistrer
							</button>
						</div>
					</form>
				</div>
				<div class="row mb-5 text-gray text-center">
					<p>{{ info_legacy.description | safe }}</p>
				</div>
			</div>
		</section>
	</div>

	<script>
        document.addEventListener("DOMContentLoaded", function () {
            window.initAddressAutocomplete(document);
        });
	</script>
{% endblock %}
